* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Encode Sans Condensed", sans-serif;
  font-family: "Inconsolata", monospace, sans-serif;
  font-size: 62.5%;
  font-family: "Teko", sans-serif;
}

header {
  background-color: #d3e3d6;
  position: static;
  top: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
header #btn-menu {
  display: none;
}
header label {
  display: none;
}
header label:hover {
  cursor: pointer;
}
header a .logo {
  width: 70px;
  border-radius: 50%;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #efc4b9;
  border-radius: 5px;
  box-shadow: 2px 4px 10px 0 #aea89c;
  padding: 7px;
}
header nav ul li a:hover {
  color: white;
  box-shadow: 5px 5px 10px rgba(218, 194, 207, 0.8078431373);
}
header nav ul li a:active {
  color: black;
}

.main-index .banner-off {
  height: 5vh;
  width: 100%;
  background-color: #fdbc96;
  font-size: 2rem;
  font-weight: regular 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.main-index .carrousel .altura-carrousel {
  height: 50vh;
}
.main-index .carrousel .altura-carrousel .carrousel-imagen {
  position: relative;
  display: inline-block;
  text-align: center;
  height: 100%;
}
.main-index .carrousel .altura-carrousel .carrousel-imagen .texto-carrousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: white;
  font-family: "teko" sans-serif;
  font-weight: bold;
}
.main-index .cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  margin: 2em;
}
.main-index .cards-index .cards-item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-index .cards-index .cards-item:hover {
  cursor: pointer;
}
.main-index .cards-index .cards-item p {
  position: absolute;
  font-size: 4rem;
  font-family: "teko" sans-serif;
  font-weight: 600;
}
.main-index .cards-index .cards-item a {
  width: 100%;
  height: 100%;
}
.main-index .cards-index .cards-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-index .titulo-index {
  font-size: 1.5rem;
  padding: 16px;
  text-align: center;
}
.main-index .contenedor-padre {
  margin-top: 80px;
  margin-bottom: 100px;
}
.main-index .contenedor-padre .hijos .card-destacado {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.main-index .contenedor-padre .hijos .card-destacado p {
  margin-top: 8px;
  color: #090908;
  font-weight: 500;
  font-size: 1.5rem;
}

.main-ubicaciones .titulo {
  font-size: 1.5rem;
  padding: 16px;
  text-align: center;
}
.main-ubicaciones .cards-ubicacion {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  column-gap: 25px;
  row-gap: 12px;
  justify-items: center;
  margin-left: 100px;
  margin-bottom: 100px;
}
.main-ubicaciones .card-ubicacion {
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border: thick double #efc4b9;
  box-shadow: 2px 4px 10px 0 #e0c9bc;
  font-size: 1.5rem;
  text-align: center;
}
.main-ubicaciones .iframe {
  top: 80px;
  margin-bottom: 80px;
}

.main-deportivo .catalogo {
  margin: 18px auto 10px auto;
  padding-left: 16px;
}
.main-deportivo .catalogo .subtitulo {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 18px;
}
.main-deportivo .catalogo .subtitulo h1 {
  font-size: 3rem;
  font-weight: lighter;
  padding: 0.5rem;
}
.main-deportivo .catalogo .subtitulo h2 {
  font-size: 2rem;
  font-weight: lighter;
  color: #fdbc96;
  padding-left: 1rem;
}
.main-deportivo .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr;
  column-gap: 8px;
  row-gap: 10px;
  align-items: center;
  justify-items: center;
}
.main-deportivo .cards .card-producto {
  width: 300px;
  height: auto;
  box-shadow: 2px 4px 10px 0 #aea89c;
  margin-bottom: 50px;
  margin-left: 20px;
}
.main-deportivo .cards .card-producto img {
  height: 70%;
  width: 100%;
}
.main-deportivo .cards .card-producto div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-deportivo .cards .card-producto div h3 {
  text-align: center;
}
.main-deportivo .cards .card-producto div p {
  padding-top: 16px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}
.main-deportivo .cards .card-producto div a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  border: black;
}
.main-deportivo .cards .card-producto div a:hover {
  background-color: rgba(218, 194, 207, 0.8078431373);
  cursor: pointer;
}
.main-deportivo .cards .card-producto div a img {
  height: 50px;
  width: 30px;
}

.main-verano .catalogo {
  margin: 18px auto 10px auto;
  padding-left: 16px;
}
.main-verano .catalogo .subtitulo {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 18px;
}
.main-verano .catalogo .subtitulo h1 {
  font-size: 3rem;
  font-weight: lighter;
  padding: 0.5rem;
}
.main-verano .catalogo .subtitulo h2 {
  font-size: 2rem;
  font-weight: lighter;
  color: #fdbc96;
  padding-left: 1rem;
}
.main-verano .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 2fr;
  column-gap: 1em;
  row-gap: 1em;
  align-items: center;
  justify-items: center;
}
.main-verano .cards .card-producto {
  width: 300px;
  height: auto;
  box-shadow: 2px 4px 10px 0 #aea89c;
  margin: 20px;
}
.main-verano .cards .card-producto .img-producto {
  height: 70%;
  width: 100%;
  box-shadow: 2px 4px 10px 0 #aea89c;
}
.main-verano .cards .card-producto div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-verano .cards .card-producto div h3 {
  text-align: center;
}
.main-verano .cards .card-producto div p {
  padding-top: 16px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
}
.main-verano .cards .card-producto div a {
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  border: black;
}
.main-verano .cards .card-producto div a:hover {
  background-color: rgba(218, 194, 207, 0.8078431373);
  cursor: pointer;
}
.main-verano .cards .card-producto div a img {
  height: 50px;
  width: 30px;
}

.main-contacto .container-contacto {
  height: 20vh;
}
.main-contacto .container-contacto article {
  padding-top: 40px;
}
.main-contacto .container-contacto article p {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: black;
}
.main-contacto .formulario {
  height: 60vh;
  background-image: url(./../assets/fondo-contacto.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.main-contacto .formulario .titulo-contacto {
  margin: 15px;
}
.main-contacto .formulario .titulo-contacto h1 {
  padding: 16px;
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-contacto .formulario form {
  height: 70%;
  margin: 32px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.main-contacto .formulario form .filas label {
  font-size: 2.3rem;
  font-weight: 600;
}
.main-contacto .formulario form .filas input {
  width: 250px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: beige;
  box-shadow: 4px 4px black;
  font-size: 15px;
  font-weight: 600;
  color: black;
  padding: 5px 10px;
  outline: none;
}
.main-contacto .formulario form .filas input:focus {
  box-shadow: 20px 23px 26px 9px rgba(102, 89, 89, 0.77);
  -webkit-box-shadow: 20px 23px 26px 9px rgba(102, 89, 89, 0.77);
  -moz-box-shadow: 20px 23px 26px 9px rgba(102, 89, 89, 0.77);
}
.main-contacto .formulario form .filas textarea {
  border-radius: 5px;
  border: 2px solid black;
  background-color: beige;
  box-shadow: 4px 4px black;
  font-size: 15px;
  font-weight: 600;
  color: black;
  padding: 5px 10px;
  outline: none;
}
.main-contacto .formulario form .boton {
  margin: 50px auto 0 auto;
  width: 120px;
  height: 40px;
  border-radius: 5px;
  border: 2px solid black;
  background-color: beige;
  box-shadow: 4px 4px black;
  font-size: 17px;
  font-weight: 600;
  color: black;
}
.main-contacto .formulario form .boton:hover {
  color: #d3e3d6;
  box-shadow: 20px 23px 26px 9px rgba(102, 89, 89, 0.77);
  -webkit-box-shadow: 20px 23px 26px 9px rgba(102, 89, 89, 0.77);
  -moz-box-shadow: 20px 23px 26px 9px rgba(102, 89, 89, 0.77);
}
.main-contacto .formulario form .boton .color-boton {
  color: black;
  text-align: center;
  font-size: 2rem;
  text-decoration: none;
  padding: 25px;
}
.main-contacto .row-reverse {
  background-color: rgba(218, 194, 207, 0.8078431373);
}
.main-contacto .row-reverse .contenedor-card {
  margin: 3em;
  height: 130px;
}
.main-contacto .row-reverse .contenedor-card:nth-child(odd) {
  display: flex;
  align-items: center;
  justify-content: start;
}
.main-contacto .row-reverse .contenedor-card:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: end;
}
.main-contacto .row-reverse .contenedor-card .card {
  background-color: rgba(218, 194, 207, 0.8078431373);
  border: none;
}
.main-contacto .row-reverse .contenedor-card .card img {
  height: 120px;
  width: 80px;
  border-radius: 50%;
}
.main-contacto .row-reverse .contenedor-card .card p {
  font-size: 1.5rem;
  color: black;
  text-align: center;
  padding: 15px;
}

footer {
  height: 40vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px 12px 6px 12px;
  border: 3px;
  box-shadow: 2px 4px 10px 0 #e0c9bc;
}
footer .footer-column {
  height: 100%;
  width: 25%;
  padding-top: 30px;
}
footer .footer-column .input {
  top: 80px;
  padding: 20px;
}
footer .footer-column h2 {
  font-size: 2rem;
}
footer .footer-column .logo-footer {
  margin-top: 2em;
  height: 25%;
}
footer .footer-column .logo-footer a {
  display: block;
  width: 45px;
  height: 45px;
}
footer .footer-column .logo-footer a img {
  width: 100%;
  height: 100%;
}
footer .footer-column .logo-footer img {
  width: 35px;
  height: 35px;
}
footer .footer-column .logo-footer p {
  font-size: 1.5rem;
  margin-left: 6px;
}
footer .footer-column p {
  margin-top: 16px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: regular 400;
}
footer .footer-column .texto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  height: auto;
}
footer .redes {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header #btn-menu:checked ~ .menu {
    visibility: visible;
  }
  header label {
    display: block;
    position: relative;
  }
  header label img {
    width: 50px;
  }
  header .menu {
    position: absolute;
    top: 70px;
    visibility: hidden;
  }
  header .menu ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 10;
    position: relative;
  }
  header a .logo {
    width: 80px;
    display: block;
  }
  .main-index .banner-off {
    display: none;
  }
  .main-index .carrousel .altura-carrousel {
    height: 100%;
  }
  .main-index .carrousel .altura-carrousel .carrousel-imagen .texto-carrousel {
    font-size: 1.5rem;
    text-align: center;
  }
  .main-index .cards-index .cards-item p {
    font-size: 2rem;
  }
  .main-ubicaciones .cards-ubicacion {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    margin: 0;
  }
  .main-ubicaciones .cards-ubicacion .card-ubicacion {
    height: 35vh;
    width: 250px;
  }
  .main-contacto .formulario {
    height: 70vh;
  }
  .main-contacto .formulario .form .label {
    font-size: 1.5rem;
  }
  .main-contacto .formulario .form .input {
    width: 200px;
  }
  .main-contacto .row-reverse {
    height: 80vh;
    padding: 10px;
  }
  .main-contacto .row-reverse .card {
    width: auto;
  }
  .main-contacto .row-reverse .card img {
    width: 50px;
  }
  .main-contacto .row-reverse .texto {
    width: 70%;
  }
  footer {
    height: 50vh;
  }
}
@media screen and (max-width: 1024px) {
  header {
    justify-content: space-around;
  }
  .main-deportivo .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-verano .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .main-ubicaciones .cards-ubicacion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 1em;
    row-gap: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }
  .main-contacto .formulario form {
    height: 50vh;
    margin: 0;
    gap: 3em;
  }
  .main-contacto .formulario .boton {
    margin: 0;
    top: 1em;
  }
}

/*# sourceMappingURL=styles.css.map */
