* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Encode Sans Condensed", sans-serif;
  font-family: "Inconsolata", monospace, sans-serif;
  font-size: 62.5%;
}

header {
  background-color: #fdbc96;
  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
header a img {
  width: 70px;
  border: 0.5px solid rgb(31, 30, 30);
  border-radius: 50%;
}
header nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 10px;
}
header nav ul li a {
  text-decoration: none;
  color: #090908;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-color: #dac2cf;
  border-radius: 5px;
  box-shadow: 2px 4px 10px 0 #aea89c;
  padding: 7px;
}

.banner-off {
  height: 100px;
  width: 100%;
  background-color: #d3e3d6;
  font-size: 2rem;
  font-weight: regular 400;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.main-index .carrousel-imagen {
  position: relative;
  display: inline-block;
  text-align: center;
}
.main-index .texto-carrousel {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: #fff;
  font-weight: bold;
}
.main-index .titulo {
  font-size: 1.5rem;
  padding: 16px;
  text-align: center;
}
.main-index .card-destacado {
  box-shadow: 2px 4px 10px 0 #aea89c;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
}
.main-index .card-destacado p {
  margin-top: 8px;
  color: #090908;
  font-weight: bold;
  font-size: 1.5rem;
}

.main-ubicaciones .titulo {
  font-size: 1.5rem;
  padding: 16px;
  text-align: center;
}
.main-ubicaciones .cards-ubicacion {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 2fr 2fr;
  column-gap: 25px;
  row-gap: 12px;
  margin-left: 150px;
  margin-bottom: 100px;
}
.main-ubicaciones .card-ubicacion {
  height: 360px;
  width: 360px;
  display: flex;
  flex-direction: comlumn;
  align-items: center;
  justify-content: space-evenly;
  border: thick double rgba(224, 201, 188, 0.8039215686);
  box-shadow: 2px 4px 10px 0 #aea89c;
  font-size: 1.5rem;
  text-align: center;
}

.main-deportivo .catalogo {
  margin: 18px auto 10px auto;
  padding-left: 16px;
}
.main-deportivo .catalogo .subtitulo {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 18px;
}
.main-deportivo .catalogo .subtitulo h1 {
  font-size: 3rem;
  font-weight: lighter;
  padding: 0.5rem;
}
.main-deportivo .catalogo .subtitulo h2 {
  font-size: 2rem;
  font-weight: lighter;
  color: #dac2cf;
  padding-left: 1rem;
}
.main-deportivo .cards {
  display: flex;
  flex-wrap: wrap;
}
.main-deportivo .cards .card-producto {
  width: 300px;
  height: auto;
  border: 2px solid #dbcfc3;
  box-shadow: 2px 4px 10px 0 #aea89c;
  border-radius: 10%;
  margin: 20px;
}
.main-deportivo .cards .card-producto .img-producto {
  height: 70%;
  width: 100%;
  border: 1px solid #dbcfc3;
  box-shadow: 2px 4px 10px 0 #aea89c;
  border-radius: 10%;
}
.main-deportivo .cards .card-producto div h3 {
  text-align: center;
}
.main-deportivo .cards .card-producto div p {
  padding-top: 16px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: regular 400;
}
.main-deportivo .cards .card-producto div a {
  padding-top: 16px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #040404;
}
.main-deportivo .cards .card-producto div a img {
  margin-left: 18px;
  height: 40px;
  width: 30px;
}

.main-verano .catalogo {
  margin: 18px auto 10px auto;
  padding-left: 16px;
}
.main-verano .catalogo .subtitulo {
  height: 180px;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 18px;
}
.main-verano .catalogo .subtitulo h1 {
  font-size: 3rem;
  font-weight: lighter;
  padding: 0.5rem;
}
.main-verano .catalogo .subtitulo h2 {
  font-size: 2rem;
  font-weight: lighter;
  color: #dac2cf;
  padding-left: 1rem;
}
.main-verano .cards {
  display: flex;
  flex-wrap: wrap;
}
.main-verano .cards .card-producto {
  width: 300px;
  height: auto;
  border: 2px solid #dbcfc3;
  box-shadow: 2px 4px 10px 0 #aea89c;
  border-radius: 10%;
  margin: 20px;
}
.main-verano .cards .card-producto .img-producto {
  height: 70%;
  width: 100%;
  border: 1px solid #dbcfc3;
  box-shadow: 2px 4px 10px 0 #aea89c;
  border-radius: 10%;
}
.main-verano .cards .card-producto div h3 {
  text-align: center;
}
.main-verano .cards .card-producto div p {
  padding-top: 16px;
  font-size: 1rem;
  text-align: center;
  font-weight: regular 400;
}
.main-verano .cards .card-producto div a {
  padding-top: 16px;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #040404;
}
.main-verano .cards .card-producto div a img {
  margin-left: 18px;
  height: 40px;
  width: 30px;
}

.main-contacto .container-contacto {
  height: 20vh;
  background-color: #dac2cf;
}
.main-contacto .container-contacto article p {
  padding-top: 20px;
  text-align: center;
  font-size: 2rem;
  font-weight: lighter;
}
.main-contacto .formulario {
  min-height: 50vh;
  padding: 0px 32px;
  background-color: #aea89c;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-contacto .formulario form {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
  gap: 1rem;
}
.main-contacto .formulario form .titulo-contacto h1 {
  text-align: center;
  font-size: 41px;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.main-contacto .formulario form .filas {
  width: 100%;
  height: 40px;
  margin: 0 20px;
  position: relative;
}
.main-contacto .formulario form .filas label {
  font-size: 1rem;
  font-weight: bolder;
}
.main-contacto .formulario form .boton {
  margin-top: 10px;
}

footer {
  height: 46vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2fr 1fr;
  justify-items: center;
  margin: 20px;
  border: 3px;
  box-shadow: 2px 4px 10px 0 #e0c9bc;
}
footer .footer-column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}
footer .footer-column h2 {
  font-size: 2rem;
}
footer .footer-column .logo-footer {
  width: 35px;
  height: 35px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
footer .footer-column .logo-footer a {
  text-decoration: none;
  font-size: 1rem;
  color: #090909;
}
footer .footer-column .logo-footer p {
  font-size: 1.5rem;
}
footer .footer-column p {
  padding-top: 16px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: regular 400;
}

/*# sourceMappingURL=styles.css.map */
