.main-deportivo{
    .catalogo{
        margin: 18px auto 10px auto;
        padding-left: 16px;
        .subtitulo{
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-top: 18px;
            h1{
                font-size: 3rem;
                font-weight: lighter;
                padding: 0.5rem;
            }
            h2{
                font-size: 2rem;
                font-weight: lighter;
                color: nth($list: $colores, $n:4 );
                padding-left: 1rem;
            }
            }
        }
    .cards{
        @include grid (1fr 1fr 1fr, 2fr, 8px, 10px);
        align-items: center;
        justify-items: center;
        .card-producto{
            width: 300px;
            height: auto;
            box-shadow: 2px 4px 10px 0 #aea89c;
            margin-bottom: 50px;
            margin-left: 20px;
            img{
                height: 70%;
                width: 100%;
            }
            div{
                @include flex(column, center, center);
                h3{
                    text-align: center;
                }
                p{
                    padding-top: 16px;
                    font-size: 1.5rem;
                    text-align: center;
                    font-weight: 400;
                }
                a{
                    font-size: 1.4rem;
                    text-decoration: none;
                    color:nth($list: $colores, $n:8 );
                    border: nth($list: $colores, $n:8 );
                    &:hover{
                        background-color: nth($list: $colores, $n:5 );
                        cursor: pointer;
                    }
                    img{
                        height: 50px;
                        width: 30px;
                    }
                }
            }
        }
    }
}