.main-index{
    .banner-off{
        height: 5vh;
        width: 100%;
        background-color: nth($list: $colores, $n:4 );
        font-size: 2rem;
        font-weight: regular 400;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .carrousel{
        .altura-carrousel{
            height: 50vh;
            .carrousel-imagen{
                position: relative;
                display: inline-block;
                text-align: center;
                height: 100%;
                .texto-carrousel{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 3.5rem;
                    color: #ffff;
                    font-family: 'teko' sans-serif;
                    font-weight: bold;
                }
            }
        }
    }
    .cards-index{
        @include grid(1fr 1fr, 1fr 1fr, 10px, 10px);
        margin: 2em;
        .cards-item{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                position: absolute;
                font-size: 4rem;
                font-family: 'teko' sans-serif;
                font-weight: 600;
            }
            a{
                width: 100%;
                height: 100%;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }
    .titulo-index{
        font-size: 1.5rem;
        padding: 16px;
        text-align: center;
    }
    .contenedor-padre{
        margin-top: 80px;
        margin-bottom: 100px;
        .hijos{
            .card-destacado{
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: start;
                p{
                    margin-top: 8px;
                    color: #090908;
                    font-weight: 500;
                    font-size: 1.5rem;
                }
            }
        }
    }
}