.main-verano{
    .catalogo{
        margin: 18px auto 10px auto;
        padding-left: 16px;
        .subtitulo{
            height: 180px;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-top: 18px;
            h1{
                font-size: 3rem;
                font-weight: lighter;
                padding: 0.5rem;
            }
            h2{
                font-size: 2rem;
                font-weight: lighter;
                color: nth($list: $colores, $n:4 );
                padding-left: 1rem;
            }
            }
        }
    .cards{
        display: flex;
        flex-wrap: wrap;
        .card-producto{
            width: 300px;
            height: auto;
            box-shadow: 2px 4px 10px 0 #aea89c;
            margin: 20px;
            .img-producto{
                height: 70%;
                width: 100%;
                box-shadow: 2px 4px 10px 0 #aea89c;
            }
            div{
                h3{
                    text-align: center;
                }
                p{
                    padding-top: 16px;
                    font-size: 1.5rem;
                    text-align: center;
                    font-weight: 500;
                }
                a{
                    padding-top: 16px;
                    font-size: 1.4rem;
                    text-align: center;
                    text-decoration: none;
                    color: nth($list: $colores, $n:8 );
                    img{
                        margin-left: 18px;
                        margin-bottom: 100px;
                        height: 40px;
                        width: 30px;
                    }
                }
            }
        }
    }
}