@mixin flex($flex-direction, $align-items, $justify-content){
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justify-content;
}

@mixin grid($grid-template-columns, $grid-template-rows, $column-gap, $row-gap){
    display: grid;
    grid-template-columns: $grid-template-columns;
    grid-template-rows: $grid-template-rows;
    column-gap: $column-gap;
    row-gap: $row-gap;
}

@mixin flex-wrap($flex-direction, $flex-wrap){
    display: flex;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}