footer{
    height: 40vh;
    @include flex-wrap (row, wrap);
    margin: 15px 12px 6px 12px;
    border: 3px;
    box-shadow: 2px 4px 10px 0 #e0c9bc;
    .footer-column{
        height: 100%;
        width: 25%;
        padding-top: 30px;
        .input{
            top: 80px;
            padding: 20px;
        }
        h2{
            font-size: 2rem;
        }
        .logo-footer{
            margin-top: 2em;
            height: 25%;
            a{
                display: block;
                width: 45px;
                height: 45px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            img{
                width: 35px;
                height: 35px;
            }
            p{
                font-size: 1.5rem;
                margin-left: 6px;
            }
        }
        p{
        margin-top: 16px;
        font-size: 1.5rem;
        text-align: center;
        font-weight: regular 400;
        }
        .texto{
            @include flex(row, center, start);
            height: auto;
        }
    }
    .redes{
        margin-top: 2em;
        @include flex(column, center,center);
    }
}